<form>
	<h3>Aggiungi un fiore!</h3>
	<div>
		<label for="id">ID: </label>
		<input name="ID" #newID>
  </div>

  <div>
		<label for="nome_comune">Nome comune: </label>
		<input name="Nome_Comune" #newNome>
  </div>

  <div>
		<label for="altezza">Altezza: </label>
		<input name="Altezza" #newAltezza>
  </div>

  <div>
		<label for="periodo">Periodo di fioritura: </label>
		<input name="Periodo_Fioritura" #newPeriodo>
  </div>

  <div>
		<label for="note">Note: </label>
		<input name="Note" #newNote>
  </div>

  <div>
		<label for="colore">Colore: </label>
		<input name="Colore" #newColore>
  </div>

  <div>
		<label for="url">URL immagine: </label>
		<input name="URL_Immagine" #newUrl>
  </div>

  <div>
		<label for="famiglia">Famiglia: </label>
		<input name="Famiglia_Appartenenza" #newFamiglia>
  </div>

  <div>
		<label for="scient">Nome scientifico: </label>
		<input name="Nome_Scientifico" #newScient>
  </div>


		<button (click)="addFiore(newID, newNome,newAltezza, newPeriodo, newNote, newColore, newUrl, newFamiglia, newScient)">
  Inserisci
  </button>
</form>
