<br>
<br>
<br>

<div class="gallery">
  <div class="desc"> <b>Nome Comune:</b> {{ fiore.Nome_Comune }} </div>
  <div class="desc"> <b>Altezza:</b> {{ fiore.Altezza }} cm</div>
  <div class="desc"> <b>Colore:</b> {{ fiore.Colore }} </div>
  <div class="desc"> <b>Periodo Fioritura:</b> {{ fiore.Periodo_Fioritura }} </div>
  <div class="desc"> <b>Note:</b> {{ fiore.Note }} </div>
  <div class="desc"> <b>URL Immagine</b> {{ fiore.URL_Immagine }} </div>
  <div class="desc"> <b>Famiglia Appartenenza:</b> {{ fiore.Famiglia_Appartenenza }} </div>
  <div class="desc"> <b>Nome Scientifico:</b> {{ fiore.Nome_Scientifico }} </div>
</div>
