<div class="row">
	<div class="col-sm-6 col-md-4" *ngFor="let fiore of data">
		<div class="thumbnail">
			<div class="content">
				<div class="caption">
					<h3>
						 <b>Nome:</b> <a routerLink="/fiore"> {{ fiore.Nome_Comune }}</a>
					</h3>
					<br>
            </div>
					<div class="attribution">
						<h4 class="display-4"><b>Altezza:</b> {{fiore.Altezza}}</h4>

            <h4 class="display-4"><b>Periodo di fioritura:</b> {{fiore.Periodo_Fioritura}}</h4>

            <h4 class="display-4"><b>Note:</b> {{fiore.Note}}</h4>

            <h4 class="display-4"><b>Colore:</b> {{fiore.Colore}}</h4>

            <h4 class="display-4"><b>Famiglia</b> {{fiore.Famiglia_Appartenenza}}</h4>

            <h4 class="display-4"><b>Nome scientifico</b> {{fiore.Nome_Scientifico}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
