<div class="col-sm-6 col-md-4" *ngFor="let fiore of data">
        <br>
        <br>
        <br>
				<div class="gallery">
					<div class="desc">
						<b>Nome:</b> <a [routerLink]="['/fiore', fiore.ID]"> {{ fiore.Nome_Comune }}</a>
					</div>
					<br>
        </div>
				<div class="gallery">
					<div class="desc"><b>Altezza:</b> {{fiore.Altezza}}</div>

					<div class="desc"><b>Periodo di fioritura:</b> {{fiore.Periodo_Fioritura}}</div>

					<div class="desc"><b>Note:</b> {{fiore.Note}}</div>

					<div class="desc"><b>Colore:</b> {{fiore.Colore}}</div>

					<div class="desc"><b>Famiglia</b> {{fiore.Famiglia_Appartenenza}}</div>

					<div class="desc"><b>Nome scientifico</b> {{fiore.Nome_Scientifico}}</div>
				</div>
	</div>
